<div class="width-container">
<h1>LOGIN TO RAINFOREST</h1>
  <div class="form">

    <%= form_tag sessions_path do %>
   
    <div class="form-line">
    <%= label_tag :email %> <br/>
    <%= text_field_tag :email, params[:email] %>
    </div>

    <div class="form-line">
    <%= label_tag :password %> <br/>
    <%= password_field_tag :password %>
    </div>

    <div class="actions">
    <%= submit_tag "LET'S GO" %>
    </div>

    <% end %>
  </div>
</div>
