<div class="width-container">
  
  <h1>Create an account</h1>

  <%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div class="error-messages">
    <h4> Your form didn't submit properly - this might be why: </h4>
    <ul>
      <% for message in @user.errors.full_messages %>
      <li> <%= message %> </li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="form">
    <div class="form-line">
    <%= f.label :first_name %> <br />
    <%= f.text_field :first_name %>
    </div>

    <div class="form-line">
    <%= f.label :last_name %> <br />
    <%= f.text_field :last_name %>
    </div>

    <div class="form-line">
    <%= f.label :email %> <br />
    <%= f.text_field :email %>
    </div>
    
    <div class="form-line">
    <%= f.label :password %> <br />
    <%= f.password_field :password %>
    </div>
    
    <div class="form-line">
    <%= f.label :password_confirmation %> <br />
    <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
    <%= f.submit %>
    </div>

    <% end %>

  </div>
</div>