<!DOCTYPE html>
<html>
<head>
  <title>Rainforest2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="top-nav">

<h1 class="rainforest"> <%= link_to "RAINFOREST!", root_path %></h1>
  <ul>
    <li> <%= link_to "Home", root_path %></li>
    <li> <%= link_to "Products", products_path %> </li>
    <li> <%=link_to "+ New product", new_product_path %> </li>
  </ul>
</nav>


<%= yield %>

</body>
</html>
