<!DOCTYPE html>
<html>
<head>
  <title>Rainforest2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'></head>
<body>

<nav class="top-nav">

<h1 class="rainforest"> <%= link_to "RAINFOREST!", root_path %></h1>
  <ul>
    <li> <%= link_to "Home", root_path %></li>
    <li> <%= link_to "Products", products_path %> </li>
    <li> <%=link_to "+ New product", new_product_path %> </li>
  </ul>
</nav>

<div class="flash">
<% if flash[:notice] %>
<p id="notice"> <%= flash[:notice] %> </p>
<% end %>
<% if flash[:alert] %>
<p class="error-messages">  <%= flash[:alert] %> </p>
<% end %>
</div>

<%= yield %>
<footer>

<div class="user-info">
<% unless current_page?(controller:"sessions", action:"new") %>
 <% if current_user %>
  <p> You are signed in to Rainforest as <%= current_user.first_name %> <%= current_user.last_name %> </p>
  <p> <%= link_to "Click here to log out", session_path("current"), :method => :delete %></p>

 <% else %>

 <p> <%= link_to "Sign in to Rainforest", new_session_path %> or <%= link_to "Create an account", new_user_path %> </p>

 <% end %>
<%end%> 

 </footer>

</body>
</html>
